.sleep-color {
  color: #91c5b9;
  font-family: 'Input Mono Freeze';
  font-weight: 600;
}
.sleep-bg {
  background-color: #91c5b9;
}
.sleep-linear-bg {
  background: linear-gradient(to right, #91c5b9, #91c5b9);
}
.important-color {
  color: #3eb370;
  font-family: 'Input Mono Freeze';
  font-weight: 600;
}
.important-bg {
  background-color: #44c47b;
}
.important-linear-bg {
  background: linear-gradient(to right, #3eb370, #44c47b);
}
.life-color {
  color: #4e99de;
  font-family: 'Input Mono Freeze';
  font-weight: 600;
}
.life-bg {
  background-color: #1f99ed;
}
.life-linear-bg {
  background: linear-gradient(to right, #4e99de, #1f99ed);
}
.leisure-color {
  color: #ff6b81;
  font-family: 'Input Mono Freeze';
  font-weight: 600;
}
.leisure-bg {
  background-color: #ff4757;
}
.leisure-linear-bg {
  background: linear-gradient(to right, #ff6b81, #ff4757);
}
.other-color {
  color: #a5b1c2;
  font-family: 'Input Mono Freeze';
  font-weight: 600;
}
.other-bg {
  background-color: #a5b1c2;
}
.other-linear-bg {
  background: linear-gradient(to right, #a5b1c2, #a5b1c2);
}
.app {
  text-align: center;
}
.app .icon {
  display: inline-block;
  margin: 0 8px;
}
.app .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Input Mono Freeze';
}
.app .list {
  padding: 20px 12px;
}
.app .list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0 0;
  font-size: 16px;
}
.app .list .item .i-title {
  width: 60px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.app .list .item .i-title-tmp {
  width: 100px;
  margin-right: 10px;
}
.app .list .item .i-time {
  width: 100px;
  text-align: center;
}
.app .list .item .i-radius {
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.app .list .item .i-progress {
  flex: 1;
  display: flex;
  height: 28px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  background: linear-gradient(to right, #ecf0f1 80%, transparent 100%);
}
.app .list .item .bar {
  height: 100%;
  background-color: red;
}
.app .list .item .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin-top: -7px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}
.app .footer .money-container {
  display: flex;
  flex-wrap: wrap;
  width: 68%;
  margin: 20px auto 24px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.app .footer .money-container .block {
  flex: 50%;
  padding: 12px 0;
  border: 0px solid #dfe4ea;
  box-sizing: border-box;
}
.app .footer .money-container .block .m-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.app .footer .money-container .block .m-title .icon {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 4px solid #ccc;
  border-radius: 8px;
}
.app .footer .money-container .block .m-title .icon-red {
  border-color: #ff4757;
}
.app .footer .money-container .block .m-title .icon-green {
  border-color: #44c47b;
}
.app .footer .money-container .block .m-title .icon-yellow {
  border-color: #f9ca24;
}
.app .footer .money-container .block .m-title .icon-blue {
  border-color: #4e99de;
}
.app .footer .money-container .block .m-money {
  margin-top: 8px;
  font-size: 18px;
  font-family: 'Maple UI';
  font-weight: bold;
}
.app .footer .money-container .b-r-1 {
  border-right-width: 1px;
}
.app .footer .money-container .b-b-1 {
  border-bottom-width: 1px;
}
